# send messages with FQDN
$PreserveFQDN on

auth.*                                  @{{ syslog.server }}:{{ syslog.port }};RSYSLOG_SyslogProtocol23Format
*.=crit                                 @{{ syslog.server }}:{{ syslog.port }};RSYSLOG_SyslogProtocol23Format
*.err                                   @{{ syslog.server }}:{{ syslog.port }};RSYSLOG_SyslogProtocol23Format
kern.warn                               @{{ syslog.server }}:{{ syslog.port }};RSYSLOG_SyslogProtocol23Format

# fail2ban
:programname, startswith, "fail2ban"    -/var/log/fail2ban.log
:programname, startswith, "fail2ban"    @{{ syslog.server }}:{{ syslog.port }};RSYSLOG_SyslogProtocol23Format
